$font-color-grey: #808080;

@font-face {
	font-family: "NairiNormal";
	src: url("../fonts/NairiNormal.eot?") format("eot"),
			 url("../fonts/NairiNormal.woff2") format("woff2"),
			 url("../fonts/NairiNormal.woff") format("woff"),
			 url("../fonts/NairiNormal.ttf") format("truetype"),
			 url("../fonts/NairiNormal.svg#NairiNormal") format("svg");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 2.5rem;
	font-family: 'NairiNormal';
	color: $font-color-grey;
}